@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* :root {
    --background: 314 37% 98%;
    --foreground: 314 60% 2%;
    --muted: 284 34% 87%;
    --muted-foreground: 284 10% 29%;
    --popover: 314 37% 98%;
    --popover-foreground: 314 60% 2%;
    --card: 314 37% 98%;
    --card-foreground: 314 60% 2%;
    --border: 314 7% 92%;
    --input: 314 7% 92%;
    --primary: 314 95% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 284 95% 55%;
    --secondary-foreground: 0 0% 100%;
    --accent: 344 95% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 13 86% 44%;
    --destructive-foreground: 0 0% 100%;
    --ring: 314 95% 55%;
    --radius: 0.5rem;
  } */

  :root {
    --background: 314 49% 2%;
    --foreground: 314 28% 99%;
    --muted: 284 34% 13%;
    --muted-foreground: 284 10% 71%;
    --popover: 314 49% 2%;
    --popover-foreground: 314 28% 99%;
    --card: 314 49% 2%;
    --card-foreground: 314 28% 99%;
    --border: 314 7% 13%;
    --input: 314 7% 13%;
    --primary: 314 95% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 284 95% 55%;
    --secondary-foreground: 0 0% 100%;
    --accent: 344 95% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 13 86% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 314 95% 55%;
  }
}

.background-animate {
  background: radial-gradient(#f922c7, #2446fe);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.floating {
  animation: floatingAnimation 6s ease-in-out infinite;
}

@keyframes floatingAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
